<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<title>组件的基本应用 - iVue2</title>
		<script type="text/javascript" src="assets/js/vue.min.js"></script>
	</head>
	
	<body>
		<div id="app">
			<input v-model="newTodoText"
				   @keyup.enter="addNewTodo"
				   placeholder="Add a new todo item" />
			<ul>
				<li is="todo-item"
					v-for="(item, index) in items"
					:key="item.id"
					:title="item.title"
					@remove="items.splice(index, 1)"></li>
			</ul>
		</div>
		
		<script type="text/javascript">
            //自定义组件
            // const todoItem = Vue.extend({
            //     props: ["title"],
			// 	template: "<li>{{title}} <button @click=\"$emit(\'remove\')\">X</button></li>"
            // });
            // Vue.component('todo-item', todoItem);

			//自定义组件
			Vue.component("todo-item", {
				props: ["title"],
				template: "<li>{{title}} <button @click=\"$emit(\'remove\')\">X</button></li>"
			});
			
			//初始化Vue实例
			var vm = new Vue({
				el: "#app",
				data: {
					newTodoText: "",
					items: [
						{id:1, title:"Vue.js"},
						{id:2, title:"JavaScript"},
						{id:3, title:"ES6"}
					],
					nextItemId: 4
				},
				methods: {
					addNewTodo: function() {
						this.items.push({
							id: this.nextItemId++,
							title: this.newTodoText
						});
						this.newTodoText = "";
					}
				}
			});
		</script>
	</body>
</html>